<!DOCTYPE html>
<html>
<head>
  <title>Liver Coffer</title>
  {% include "includes/all-css.html" %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Roboto+Mono&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>
<body>
    {% include "includes/navbar.html" %}
    {% include "includes/homepage.html" %}
    {% include "includes/bottom-navbar.html" %}
    {% include "includes/bottom-navbar-content.html" %}
</body>
</html>