.b-navmenu{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    /* grid-auto-flow: column; create gaps through 5 columns automatically. */
    grid-column-gap: 5px;
    margin-left: 75px;
    margin-right: 75px;
    position: sticky;
    top:0px;
    z-index: 1;
    background-color: white;
    scroll-behavior: smooth;
}

.a-bottom {
    text-decoration: none;
    color:black;
    opacity:0.5;
    margin-bottom: 50px;

}

.li-bottom {
    list-style: none;
    text-align: center;
    font-size: 22px;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 30px;
    z-index: 1;
}

.li-bottom:hover{
    text-decoration: underline;
    text-underline-position: under;
    transition: all 0.3s ease-out;
}

