#statistics, #analysis, #diet{
    height: 100vh;
} 

#statistics{
    background: teal;
}

#analysis{
    display:grid;
    grid-template-columns: repeat(2,1fr); 
    margin-left: 75px;
    margin-right: 75px;
    grid-row: auto auto;
    grid-column-gap: 35px;
    grid-row-gap: 45px;

}

.graphs{
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    display: flex;
    transition: transform 0.2s;
}

.graphs:hover{
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}

a.bottom > .analysis{
    margin-top: 50px;
}