<div id="statistics">
    <h2 class='liver-stats-1'>
        A lazy lifestyle, increase in junk food consumption, <br> lack of exercise and obesity
        is creating a serious issue in India. <br>
        The issue is named as <b>fatty liver.</b>
    </h2>
</div>


<div id="analysis">
    <div class="graphs">
        <canvas id="myChart"></canvas>

            <script>
            var xValues = [100,200,300,400,500,600,700,800,900,1000];

            new Chart("myChart", {
            type: "line",
            data: {
                labels: xValues,
                datasets: [{ 
                data: [860,1140,1060,1060,1070,1110,1330,2210,7830,2478],
                borderColor: "red",
                fill: false
                }, { 
                data: [1600,1700,1700,1900,2000,2700,4000,5000,6000,7000],
                borderColor: "green",
                fill: false
                }, { 
                data: [300,700,2000,5000,6000,4000,2000,1000,200,100],
                borderColor: "blue",
                fill: false
                }]
            },
            options: {
                legend: {display: false}
            }
            });
            </script>
    </div>
    <div class="graphs"></div>
    <div class="graphs">
        <canvas id="myChart2"></canvas>

            <script>
            var xValues = [100,200,300,400,500,600,700,800,900,1000];

            new Chart("myChart2", {
            type: "line",
            data: {
                labels: xValues,
                datasets: [{ 
                data: [860,1140,1060,1060,1070,1110,1330,2210,7830,2478],
                borderColor: "red",
                fill: false
                }, { 
                data: [1600,1700,1700,1900,2000,2700,4000,5000,6000,7000],
                borderColor: "green",
                fill: false
                }, { 
                data: [300,700,2000,5000,6000,4000,2000,1000,200,100],
                borderColor: "blue",
                fill: false
                }]
            },
            options: {
                legend: {display: false}
            }
            });
            </script>
    </div>
    <div class="graphs">
        <script>
            window.onload = function () {
            
            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                theme: "light2", // "light1", "light2", "dark1", "dark2"
                title:{
                    text: "Top Oil Reserves"
                },
                axisY: {
                    title: "Reserves(MMbbl)"
                },
                data: [{        
                    type: "column",  
                    showInLegend: true, 
                    legendMarkerColor: "grey",
                    legendText: "MMbbl = one million barrels",
                    dataPoints: [      
                        { y: 300878, label: "Venezuela" },
                        { y: 266455,  label: "Saudi" },
                        { y: 169709,  label: "Canada" },
                        { y: 158400,  label: "Iran" },
                        { y: 142503,  label: "Iraq" },
                        { y: 101500, label: "Kuwait" },
                        { y: 97800,  label: "UAE" },
                        { y: 80000,  label: "Russia" }
                    ]
                }]
            });
            chart.render();
            
            }
            </script>
            <div id="chartContainer" style="height: 300px; width: 100%;"></div>
    </div>
</div>


<div id="diet">
    <h1>
        Arun
    </h1>
</div>


<div>

</div>

<div id='experience' style="position: relative; left: 0; top:0;">
    <img class="reviews1" src="./static/images/review1.png" alt="review"></img>
    <img class="reviews2" src="./static/images/review2.png" alt="review"></img>
    <div></div>
</div>