{% include "includes/all-css.html" %}
{% include "includes/fonts.html" %}
{% include "includes/navbar.html" %}

<div class="form-container">
    <form class="main-form" action="{{ url_for('result_check') }}">
        <label class="label-title">Enter the Following Details</label><br>
        <label class="basic-label">Age</label><br><input class="basic-input" type="text" name="age-c" placeholder="Ex: 76">  
        <label class="basic-label">Gender</label><br> 
        <select class="basic-input" name="gender-c" aria-placeholder="choose">
            <option value="" disabled selected>Select your option</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>
        <label class="basic-label">ALB</label><br><input class="basic-input" type="text" name="alb" placeholder="Ex: 38.5">  
        <label class="basic-label">ALP</label><br><input class="basic-input" type="text" name="alp" placeholder="Ex: 52.5">  
        <label class="basic-label">ALT</label><br><input class="basic-input" type="text" name="alt" placeholder="Ex: 7.6">  
        <label class="basic-label">AST</label><br><input class="basic-input" type="text" name="ast" placeholder="Ex: 22.1">  
        <label class="basic-label">BIL</label><br><input class="basic-input" type="text" name="bil" placeholder="Ex: 7.5">  
        <label class="basic-label">CHE</label><br><input class="basic-input" type="text" name="che" placeholder="Ex: 6.93">  
        <label class="basic-label">CHOL</label><br><input class="basic-input" type="text" name="chol" placeholder="Ex: 3.23">  
        <label class="basic-label">CREA</label><br><input class="basic-input" type="text" name="crea" placeholder="Ex: 106">  
        <label class="basic-label">GGT</label><br><input class="basic-input" type="text" name="ggt" placeholder="Ex: 12.1">  
        <label class="basic-label">PROT</label><br><input class="basic-input" type="text" name="prot" placeholder="Ex: 69">  
        <button class="submit-check">Get Result</button>
    </form>
</div>
