{% include "includes/all-css.html" %}
<link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Roboto+Mono&display=swap" rel="stylesheet">
{% include "includes/navbar.html" %}


<div class="form-container">
    <form class="main-form" action="">
        <label class="basic-label">Do you like peas?</label><br><input class="basic-input" type="text" name="peas">  
        <label class="basic-label">Do you like peas?</label><br><input class="basic-input" type="text" name="peas"> 
        <label class="basic-label">Do you have fever?</label><br>
        <select class="basic-input" name="cars" aria-placeholder="choose">
            <option value="" disabled selected>Select your option</option>
            <option value="volvo">Yes</option>
            <option value="saab">No</option>
        </select>
        <label class="basic-label">Do you like peas?</label><br>
        <input class="basic-input" type="radio" name="peas" value="Yes"><br>
        <input class="basic-input" type="radio" name="peas" value="Yes"><br>
        <!-- <input class="basic-input" type="text" name="peas">            -->
    </form>
</div>
