<nav class='navbar'>
    <div class='nav-logo'><a class='home-page-anchor' href="/">CofferLiver</a></div>
      <ul class='nav-links'>
        <div class='nav-menu'>
          <li class='dropdown'><a href="#" class="dropbtn">Check</a>
            <div class="dropdown-content">
              <a href="{{url_for('check_your_health_common')}}">Common</a>
              <a href="{{url_for('check_your_health_advanced')}}">Advanced</a>
            </div>
          </li>
          <li class='dropdown'><a href="#" class="dropbtn">Explore</a>
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </li>
          <li class='dropdown'><a href="#">Diet</a></li>
        </div>
      </ul>
      <div class="l-r-button">
        <button class="Login" onclick="window.location.href='/login'">Login</button>
        <button class="Register" onclick="window.location.href='/register'">Register</button>
      </div> 
    </div>    
</nav>