{% include "includes/all-css.html" %}

<div class="form-container">
    <form class="main-form" action="">
        <h2 class="form-title">Register</h2>
        <label class="label-title">Username</label><br><input class="basic-input" type="text" name="username" placeholder="Enter Your Username">
        <label class="label-title">Password</label><br><input class="basic-input" type="password" name="username" placeholder="Enter Your Password">
        <button class="submit-check" onclick="">Sign Up</button>
    </form>
</div>